
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.marigold.rnsdk">
    <application>
        <receiver android:name="com.marigold.rnsdk.MessageBroadcastReceiver">
            <intent-filter>
                <action android:name="com.marigold.rnsdk.FULL_SCREEN_MESSAGE" />
            </intent-filter>
        </receiver>
        <activity android:name="com.marigold.rnsdk.FullScreenMessageActivity"
                  android:exported="true" />
    </application>
</manifest>
